@import "reset.css";
/*引入css文件的一种方式*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


 filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */
 // h-938
 // w-1920
 body
 	font-size 16Px
 	font-family 'arial','micrsoft yahei'

.container
	width 100%
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	// overflow hidden
	&::-webkit-scrollbar 
		display none
.w640
	width 33.33%
.w1280
	width 66.66%

.weather
	padding-top 24px
	text-align center
	color #fff
	background #0289ff
	box-sizing border-box
	height 538px
	.class
		font-size 60px
		line-height 127px
		span
			color #ffc211
	.time
		font-size 80px
		line-height 129px
	.date
		font-size 30px
		line-height 43px
	.temperature
		padding-top 23px
		font-size 80px
		line-height 117px
		&.sun
			span
				background url('../img/769bda9a7da9b1ddecaad61c7619c83f.png') left center/68px no-repeat
		span
			padding-left 80px
	.duty
		line-height 73px
		font-size 24px
		span
			font-size 30px
		i
			padding-left 16px

.banner
	img
	a
		display block
		height 538px

.public-h3
	padding-bottom 17px
	font-size 36px
	line-height 80px
.df
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
.notice
	background #ffc211 url('../img/3db86655a76e0a762acf48c356a42d3f.png') right 25px top no-repeat
	color #fff
	height 400px
	h3
		padding 0 90px 17px
	p
		font-size 24px
		line-height 36px
		padding 0 90px
		text-align justify
		.date
			display block
			padding-bottom 5px
			border-bottom 1px solid #fff
			margin-bottom 5px
	.swiper-button-prev
	.swiper-button-next
		background none
		padding 10px
		transform translateY(-10px)
		transition 0.3s
		border-radius 5px
		svg
			fill #fff
			transition 0.3s
		&:hover
			svg 
				fill #007aff
		&:active
			background rgba(255,255,255,0.4)

.w75
	width 75%
.today-curriculum
	// w960
	height 400px
	.wrap
		padding 0 50px
		background url('../img/e28859069ba6b8d3087cc34a2499955d.png') 40px 7px/128px auto no-repeat
	h3
		color #0289ff
		text-align center
	.table
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		font-size 24px
		line-height 1
		color #000
		border-bottom 4px solid #ffc211
		.w50
			width 50%
			box-sizing border-box
			&>*
				padding-left 4px
				position relative
				&:after
					content ""
					position absolute
					left 0
					top 0
					bottom 0
					border-left 4px solid #ffc211
					z-index 1	
				&.no-left
					&:after
						display none
			&+.w50
				&>*
					&:before
						position absolute
						content ""
						right 0
						top 0
						bottom 0
						border-right 4px solid #ffc211
					&.no-left
						&:before
							display none
		.row
			background #fff
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			height 52px
			align-items center
			text-align center
			.flex-0-0-65
				flex 0 0 65px
			.flex-0-0-90
				flex 0 0 90px
			.flex-0-0-170
				flex 0 0 170px
			.flex-1-0-auto
				flex 1 0 auto
		.bgeeeeee
			background #eee
		.bgffc211
			background #ffc211
		.bg0289ff
			background #0289ff
		.cfff
			color #fff
.w25
	width 25%
.hot-new
	// w320
	height 400px
	background #efefef
	padding 0 34px
	box-sizing border-box
	h3
		color #0289ff
	.wrap
		height 230px
		// .swiper-slide
		// 	display -webkit-flex
		// 	display -moz-flex
		// 	display -ms-flex
		// 	display -o-flex
		// 	display flex
		// 	align-items center
		.swiper-container
			height 100%
			font-size 22px
			color #0662b1
			line-height 38px
			a
				padding 5px
				width:100%;
				box-sizing border-box
				text-align justify
				&:hover
					background #fff
		.swiper-slide
			border-bottom 1px solid #0662b1	
			box-sizing border-box


.check-work
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content center
	height 96px
	.wrap
		padding 20px 0 20px 100px
		background url('../img/62d758433121a1dd4db56539d37a1980.png') left center/64px auto no-repeat
		color #000
		line-height 1
		h3
			padding-bottom 20px
			font-size 30px
		p
			font-size 24px
			span+span
				padding-left 10px
.nav
	height 96px
	background #037de7
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content center
	a
		display block
		padding 0 33px
		transition 0.3s
		height 100%
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		font-size 24px
		color #fff
		align-items center
		&:hover
			background #0267be
.set
	height 96px
	background #ffc211
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content flex-end
	a
		display block
		height 100%
		width 150px
		background url("../img/61b72458ffbed7ae2704c750e4e8830e.png") right 45px center/48px auto no-repeat
		transition 0.3s
		&:hover
			background-color #e2ac0e

.bb_2
	.weather
		height 625px
		.class
			line-height 150px
		.time
			line-height 90px
		.date
			line-height 70px
		.temperature
			padding-top 0
			line-height 106px
		.duty
			line-height 144px
	.teacher
		height 313px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		background #ffc211
		align-items flex-start
		padding 20px 40px 0
		box-sizing border-box
		.pic
			border 5px solid #fff
			border-radius 50%
			overflow hidden
			flex 0 0 126px
			img
				display block
				width 126px
		.content
			flex 1
			padding-top 60px
			padding-left 27px
			font-size 30px
			color #000
			line-height 70px
			box-sizing border-box
			span
				padding-left 20px
			p
				font-size 24px
				color #000
				line-height 38px
	.bb-notice
		height 96px
		.pic
			height 100%
			width 96px
			background url('../img/d31bcdc5fa72433b1e662e3fa8c0dfd2.png') center center/64px auto no-repeat
		.content
			width calc(100% - 140px)
			height 100%
			.swiper-container
				width 100%
				height 100%
				a
					width 100%
					height 100%
					font-size 22px
					color #000
					line-height 40px
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					align-items center
					justify-content flex-start
				span
					display block
					max-width 440px
	.current-course
		height 938px
		width 100%
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content center
		background url('../img/d8b75a09df1cb49464faf7d88aba4c47.jpg') center center/auto 100% no-repeat
		.content
			color #fff
			text-align center
			h2
				font-size 144px
				line-height 1
			.time
				font-size 90px
				line-height 160px
				padding-bottom 10px
			.current-teacher
				font-size 58px
				line-height 1
	.examination-room
		height 938px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content center
		text-align center
		background url('../img/b4f05ad4e03379d5bb3e97d41f073f13.jpg') center center/100% 100% no-repeat
		h3
			padding 130px 0 90px
			font-size 84px
			color #000
			line-height 1
		h2
			font-size 144px
			color #0289ff
			line-height 1
		.time
			padding-bottom 20px
			font-size 72px
			color #313131
			line-height 130px
		.examination-teacher
			font-size 58px
			color #0289ff
			line-height 1
	.bb-2-notice
		padding 50px
		height 313px
		box-sizing border-box
		background #ffc211 url('../img/1a20343ca32573824232ede7a7b37cd7.png') right 40px top 50px/217px auto no-repeat
		h3
			padding-bottom 40px
			font-size 36px
			color #fff
			line-height 1
		p
			font-size 24px
			color #000
			line-height 36px
	.clock
		height 625px
		text-align center
		background #0289ff
		.wrap
			position relative
			width 307px
			height 307px
			margin 0 auto
			padding 50px 0
			&:after
				content ""
				position absolute
				top 50px
				bottom 50px
				left 0
				right 0
				border-radius 50%
				box-shadow 0 0 10px #a6a6a6
		.time
			padding 10px 0
			font-size 80px
			color #fff
			line-height 1
		.week
			padding-top 30px
			font-size 30px
			color #fff
			line-height 1
	.w50
		width 50%
		.h50
			height (938px / 2px)
			box-sizing border-box
		.sign-in
			padding 60px 50px 0
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			justify-content space-between
			background #0289ff
			.progress
				position relative
				width 307px
				height 307px
				&:after
					content ""
					position absolute
					top 0
					bottom 0
					left 0
					right 0
					border-radius 50%
					box-shadow 0 0 10px #a6a6a6
			.content
				width 500px
				.row
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					font-size 36px
					color #fff
					&.bdt4
						border-top 4px solid #fff
					h3
						min-height 1px
						width 150px
						line-height 60px
					.number
						line-height 60px
					.orange
						color #ffc211
					.name
						font-size 24px
						span
							padding-right 20px
					
		.weather-clock
			padding-top 0
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content space-around
			background #ffc211 url('../img/84b5098f1907384ebabb4531260eabef.png') right 10px bottom 30px/168px auto no-repeat
			.wrap
				margin 0
			.content
				padding 0 120px 0 0
		.one-week
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content center
			background url('../img/cf8e6d1d290f5f908eee5fa51c8554ac.jpg') center center/100% 100% no-repeat
			.wrap
				max-width 860px
				width 100%
			h3
				padding-bottom 10px
				font-size 36px
				color #0289ff
				line-height 1
				text-align center
			.table
				background #0289ff
				table
					thead
						font-size 24px
						line-height 50px
						color #fff
						background #0289ff
						tr,th
							border 2px solid #0289ff
							font-weight normal
							text-align center
					tbody
						border 2px solid #0289ff
						background #fff
						tr:nth-child(odd){
							background #eaf7fd
						}
						tr,td
							border-left 2px solid #0289ff
							border-right 2px solid #0289ff
							font-size 20px
							color #000
							line-height 34px
							text-align center
		.first-grade
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			justify-content center
			background #364263
			.wrap
				max-width 700px
				width 100%
				h2
					padding 30px 0
					line-height 1
					font-size 60px
					color #fff
					text-align center
					span
						color #ffc211
				.info
					display -webkit-flex
					display -moz-flex
					display -ms-flex
					display -o-flex
					display flex
					justify-content space-between
					padding 0 24px
					font-size 24px
					color #fff
					line-height 52px
					background #1d64a3
				p
					padding-top 40px
					font-size 24px
					color #fff
					line-height 30px
					text-indent 2em
				
				
						